* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
}

.header {
    height: 250px ;
background: #5A5A5A;

}

.body {
    background-color: #F6F6F6;
   
}

.bukawarung {
    width: 111px;
height: 28px;
background-color: rgba(255, 255, 255, 0.30);
opacity: 0.8;
border-radius: 12px;
text-align: center;
padding-top: 5px;
display: inline-block;
margin-top: 30px;
margin-left: 20px;
position: absolute;
}

.ikon {
    width: 76px;
height: 76px;
background-color: #fff;
border-radius: 50%;
margin-left: 30px;
margin-top: 110px;
display: inline-block;
}

.informasi {
    margin-top: -50px;
}

.judul {
    margin-left: 120px;
    width: 219px;
height: 33px;
font-size: 24px;
display: block;
}

.ikon svg {
    padding: 10px;
}

.pengikut, .mengikuti {
    display: inline-block;
    font-size: 10px;
}

.pengikut {
    padding-left: 125px;
    padding-right: 20px;
}
.contener {
    height: 200px ;
    background-color: #9E9E9E;
}

.pesanan-saya {
    font-size: 24px;
    padding: 30px;
    margin-left: 35px
}

.item {
    display: inline-block;
    text-align: center;
    padding-left: 60px;

    font-size: 10px;
}

.footer-item {}

.items {
    text-align: center;
    font-weight: 800;
    display: inline-block;
    margin-left: 100px;
    margin-top: 220px;
} 

.items p {
    color: #000;
    font-size: 8px;
}

@media (max-width: 768px) {
  
    
}